<div>
    <h2 class="text-center">Nosotros</h2>
</div>
<div class="row mx-5 px-5 py-3 justify-content-center justify-content-around">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-success text-center text-white">
                <h3>Mision</h3>
            </div>
            <div class="card-body text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam perspiciatis est dolor 
                doloremque repellendus natus omnis velit eos eveniet ut, totam laudantium dolorum! Tempore 
                nostrum deleniti doloremque quibusdam, hic et.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-success text-center text-white">
                <h3>Vision</h3>
            </div>
            <div class="card-body text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam perspiciatis est dolor 
                doloremque repellendus natus omnis velit eos eveniet ut, totam laudantium dolorum! Tempore 
                nostrum deleniti doloremque quibusdam, hic et.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-success text-center text-white">
                <h3>Valores</h3>
            </div>
            <div class="card-body text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam perspiciatis est dolor 
                doloremque repellendus natus omnis velit eos eveniet ut, totam laudantium dolorum! Tempore 
                nostrum deleniti doloremque quibusdam, hic et.
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center px-5 py-3 bg-light">
    <div >
        <h2 class="text-center">Politica de Calidad</h2>
    </div>
    <div>
    <img class="float-left w-25 mr-3" src="../../../assets/img/500px-Política_SIG.png" alt="Politica de Calidad">
    <p class="text-justify">
        En el marco de nuestro sistema integrado de gestión, la UIC Pinar del Rio se compromete a:
        
        La dirección de INGEMA es consciente de que la Calidad es el principal arma de competitividad de la 
        empresa tanto en la actualidad como en el futuro, teniendo siempre presente que nuestros clientes, 
        son la base de nuestra existencia y para ello, nuestro objetivo estratégico y prioritario es formar, 
        motivar y comprometer a nuestro personal, facilitando el soporte y recursos necesarios para conseguir 
        la Mejora Continua.

        Desarrollar nuestras operaciones de forma integrada teniendo en cuenta la calidad de nuestros 
        servicios, el medio ambiente, la seguridad y salud ocupacional, con la finalidad de satisfacer los 
        requerimientos de nuestros clientes. Proveer los recursos necesarios para la capacitación, bienestar 
        y prevención de lesiones y enfermedades ocupacionales de nuestros trabajadores. Considerando que su 
        participación es elemento clave en el desarrollo sostenido de nuestro sistema integrado de gestión.
        Cumplir con los requisitos legales aplicables y otros, asumidos voluntariamente por calidad, medio 
        ambiente, seguridad y salud ocupacional. Prevenir la contaminación ambiental durante el desarrollo 
        de nuestras actividades, cumpliendo los estándares y procedimientos establecidos en nuestras 
        operaciones. Desarrollar nuestras actividades buscando la mejora continua en las operaciones, 
        incorporando tecnología de punta en ingeniería, basada en nuestra capacidad, soporte y experiencia.
    </p>
    </div>
</div>

<div class="row justify-content-center px-5 py-3">
    <div >
        <h2 class="text-center">Estamos Acreditados</h2>
    </div>
    <div>
    <img class="float-right w-25 ml-3" src="../../../assets/img/400px-Certificado_Calidad_ENIA.png" alt="Politica de Calidad">
    <p class="text-justify">
        En el marco de nuestro sistema integrado de gestión, la UIC Pinar del Rio se compromete a:
        Desarrollar nuestras operaciones de forma integrada teniendo en cuenta la calidad de nuestros 
        servicios, el medio ambiente, la seguridad y salud ocupacional, con la finalidad de satisfacer los 
        requerimientos de nuestros clientes. Proveer los recursos necesarios para la capacitación, bienestar 
        y prevención de lesiones y enfermedades ocupacionales de nuestros trabajadores. Considerando que su 
        participación es elemento clave en el desarrollo sostenido de nuestro sistema integrado de gestión.
        Cumplir con los requisitos legales aplicables y otros, asumidos voluntariamente por calidad, medio 
        ambiente, seguridad y salud ocupacional. Prevenir la contaminación ambiental durante el desarrollo 
        de nuestras actividades, cumpliendo los estándares y procedimientos establecidos en nuestras 
        operaciones. Desarrollar nuestras actividades buscando la mejora continua en las operaciones, 
        incorporando tecnología de punta en ingeniería, basada en nuestra capacidad, soporte y experiencia.
    </p>
    </div>
</div>


<div class="row justify-content-center px-5 py-3 bg-light">
    <h2 class="">Nuestro Capital Humano</h2>
    <p class="text-center">
        El personal de la UIC Pinar del Rio tiene una gran experiencia, contrastada con los trabajos que han realizado, 
        en el ámbito de la geología y la geotecnia, así como dentro de la ingeniería civil, la edificación y 
        el medio ambiente. Todo ello avalado por el reconocimiento, confianza y la satisfacción de nuestros clientes.
        El personal Técnico de la empresa está constituido por Ingenieros Civiles y Geólogos, Master en Geologia, con gran 
        experiencia en el sector. Organizados en grupos de trabajo de la siguiente forma:
    </p>
    <div class="row justify-content-center">
        <div class="jumbotron w-25 mr-5">
            <h3>Ingenieria Geologica</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi harum enim qui quod eaque, at 
                sapiente recusandae dignissimos inventore non. Et quod neque nostrum maiores ipsa veritatis natus 
                dicta repellendus?
            </p>
        </div>
        <div class="jumbotron w-25 mr-5">
            <h3>Laboratorio</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi harum enim qui quod eaque, at 
                sapiente recusandae dignissimos inventore non. Et quod neque nostrum maiores ipsa veritatis natus 
                dicta repellendus?
            </p>
        </div>
        <div class="jumbotron w-25">
            <h3>Topografia</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi harum enim qui quod eaque, at 
                sapiente recusandae dignissimos inventore non. Et quod neque nostrum maiores ipsa veritatis natus 
                dicta repellendus?
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="jumbotron w-25 mr-5">
            <h3>Patologia</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi harum enim qui quod eaque, at 
                sapiente recusandae dignissimos inventore non. Et quod neque nostrum maiores ipsa veritatis natus 
                dicta repellendus?
            </p>
        </div>
        <div class="jumbotron w-25 mr-5">
            <h3>Consultoria Proambiente</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi harum enim qui quod eaque, at 
                sapiente recusandae dignissimos inventore non. Et quod neque nostrum maiores ipsa veritatis natus 
                dicta repellendus?
            </p>
        </div>
        <div class="jumbotron w-25">
            <h3>Regulacion y Control</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi harum enim qui quod eaque, at 
                sapiente recusandae dignissimos inventore non. Et quod neque nostrum maiores ipsa veritatis natus 
                dicta repellendus?
            </p>
        </div>
    </div>
</div>
<div class="row justify-content-center px-5 py-3">
    <h2>Equipos Tecnologicos</h2>
    <p>
        Contamos con una amplia gama de equipos de alta presicion y calidad para la realizacion de nuestro
        trabajo, lo que permite la fiabilidad de los resultados obtenidos y la agilidad y eficacia en el 
        cumplimiento de nuestros cronogramas de trabajo...
    </p>
    <div class="row justify-content-center justify-content-around">
        <div class="col-md-2 ">
            <img src="../../../assets/img/colectivo.jpg" alt="">
        </div>
        <div class="col-md-2 ">
            <img src="../../../assets/img/colectivo.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/img/colectivo.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/img/colectivo.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/img/colectivo.jpg" alt="">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/img/colectivo.jpg" alt="">
        </div>
    </div>
</div>
