<div class="row justify-content-center py-3">
  <h2>Servicios</h2>
  <p class="text-center px-5">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus unde dolor non impedit assumenda 
      corporis, aliquam, possimus explicabo architecto natus sunt earum. Consequatur, illum laborum alias sint 
      quis nihil saepe.
  </p>
</div>
<div class="row justify-content-center py-3 px-5">
  <div class="accordion " id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Servicios de Investigaciones Ingeniero Geologicas
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <img class="float-right ml-3 mb-1 w-25" src="../../../assets/img/perfora.jpg" alt="">
          <p class="text-justify">
            Estudios geotécnicos, investigaciones ingeniero-geológicas e hidrogeológicas para obras de 
            ingeniería y arquitectura.<br>
            En este apartado tambien se incluye:<br>
            Perforación e Inyección: Barrenos y perforaciones para investigaciones ingeniero-geológicas, 
            voladuras, inyecciones, instrumentación de obras y demás servicios de perforación en general. 
            Inyecciones para impermeabilización del terreno y mejoramiento de la capacidad soportante.
          </p>
          <h4>Estudios geotécnicos in situ:</h4> 
          <ul> 
            <li>
              Controles de compactación, pruebas de placa, pruebas de carga, CBR in situ, control de hinca de 
              pilotes.
            </li> 
            <li>
              Investigaciones Ingeniero Geológicas e hidrogeológicas para proyectos de cimentaciones de obras 
              de todo tipo (edificaciones, viales, industriales, hidráulicas, portuarias etc.)
            </li> 
            <li>
              Localización, estudio y cálculo de reservas de materiales para su empleo en la construcción de 
              rellenos, diques, explanaciones  para diferentes usos en la construcción de obras.
            </li> 
            <li>
              Elaboración de proyecto y ejecución de terraplenes de prueba para determinar las condiciones 
              óptimas de utilización y colocación de los materiales en obras de tierra. Incluye mejoramiento 
              de terrenos.
            </li> 
            <li>
              Estudio del comportamiento y estado de las bases naturales o artificiales de la cimentación de obras 
              cuando se han producido averías o se requiere realizar modificaciones a la super-  estructura.
            </li>
            <li>
              Confección de mapas Ingeniero Geológicos a diferentes escalas (regionales o locales) para usos 
              diversos, especialmente para la planificación física de proyectos constructivos de envergadura.
            </li>
            <li>
              Estudio de fenómenos físico geológicos como deslizamientos y carso con vista a minimizar sus efectos 
              negativos sobre las construcciones.
            </li>
            <li>
              Monitoreo de excavaciones, perforación o hinca   durante la ejecución de cimentaciones superficiales 
              o profundas respectivamente.
            </li>
            <li>
              Asesoramiento y consultoría relacionada con la actividad Ingeniero Geológica con fines de la 
              construcción de obras de cualquier tipo.
            </li>
          </ul>        
          

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Servicios de Laboratorio
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <img class="float-right ml-3 mb-1 w-25" src="../../../assets/img/perfora.jpg" alt="">
            <p class="text-justify">
              Comprende la realización de ensayos de laboratorio a áridos, cemento, hormigón hidráulico, ligante 
              asfáltico, hormigón asfáltico, acero y productos terminados.  Así como los diseños de mezclas de 
              morteros, hormigones hidráulicos y asfálticos. Ademas de la realización de ensayos de laboratorio 
              para determinar las  propiedades físicas y mecánicas de suelos y rocas, así como los ensayos de 
              composición química de suelos y aguas. Los laboratorios de suelos están comprometidos con el 
              cumplimiento de la norma NC ISO IEC 17025 y con la buena práctica profesional para poder 
              satisfacer técnicamente los requisitos requeridos por el cliente. Se realizan informes de 
              resultados de alta confiabilidad, mediante el cumplimiento de las especificaciones técnicas para 
              la ejecución de los ensayos.
            </p>
            
          <h4>Ensayos de materiales:</h4> 
          <ul> 
            <li>
              Ensayos a aridos.
            </li> 
            <li>
              Ensayos al cemento
            </li> 
            <li>
              Ensayos al hormigon
            </li> 
            <li>
              Ensayos a Productos terminados
            </li> 
            <li>
              Ensayos al acero
            </li>
            <li>
              Dosificaciones
            </li>
            <li>
              Ensayos al cemento asfaltico
            </li>
            <li>
              Ensayos al asfalto diluido
            </li>
            <li>
              Ensayos al hormigon asfaltico
            </li>
          </ul>

          <h4>Ensayos de Suelo:</h4> 
          <ul> 
            <li>
              Ensayos fisicos.
            </li> 
            <li>
              Ensayos mecanicos
            </li> 
            <li>
              Ensayos de roca
            </li> 
            <li>
              Ensayos in situ
            </li> 
            
          </ul>


        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Servicios de Topografia
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <img class="float-right ml-3 mb-1 w-25" src="../../../assets/img/perfora.jpg" alt="">
          <p class="text-justify">
            INVESCONS cuenta con profesionales y técnicos, especializados, capaces de brindar a sus clientes, 
            las mejores soluciones y respaldo técnico. Nos encontramos  a la vanguardia tecnológica, haciendo 
            uso de equipos de última generación para el desarrollo de cada uno de sus proyectos.
          </p>
          <h4>Algunos de los servicios topograficos que ofrecemos:</h4> 
          <ul> 
            <li>
              Replanteo de obras superficiales, lineales y de puntos.
            </li> 
            <li>
              Ubicación final de calas y calicatas
            </li> 
            <li>
              Levantamiento de obras lineales
            </li> 
            <li>
              Levantamiento arquitectural a edificios e instalaciones
            </li> 
            <li>
              Determinación de puntos geodésicos planimétricos
            </li> 
            <li>
              Determinación de puntos de poligonal aislada
            </li>
            <li>
              Levantamiento topográfico planimétrico y detallado a diferentes escalas desde 1:100 hasta 1:2000
            </li> 
            <li>
              Levantamiento de lesiones y patología estructural y no estructural
            </li>
            <li>
              Nivelación de precisión
            </li> 
            <li>
              Levantamiento tridimensional con escaneo láser
            </li>
            
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingfour">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
            Servicios de Diagnostico y Patologia
          </button>
        </h2>
      </div>
      <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
        <div class="card-body">
          <img class="float-right ml-3 mb-1 w-25" src="../../../assets/img/perfora.jpg" alt="">
          <p class="text-justify">
            Análisis y evaluación de estructuras a partir de herramientas de simulación 
            matemática, Proyectos de reparación y rehabilitación.
            Ejecución de reparaciones, rehabilitaciones de construcciones, impermeabilización de cubiertas 
            y zonas húmedas, tratamiento por capilaridad.
          </p>
          <h4>Diagnostico y Patologia</h4> 
          <ul> 
            <li>
              Ensayos destructivos y no destructivos (Pacómetro, Ferroscan, Esclerómetro, Ultrasonido) a 
              estructuras de hormigón armado.
            </li> 
            <li>
              Determinación de potenciales de corrosión por carbonatación, cloruros y sulfatos con el uso de 
              equipo Gecor
            </li> 
            <li>
              Pronósticos de evolución de la actividad corrosiva en estructuras
            </li> 
                        
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingfive">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
            Servicios de la Consultoria Proambiente
          </button>
        </h2>
      </div>
      <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
        <div class="card-body">
          <img class="float-right ml-3 mb-1 w-25" src="../../../assets/img/perfora.jpg" alt="">
          <p class="text-justify">
            La Consultoría está acreditada ante el Ministerio de Ciencia, Tecnología y Medio Ambiente para la 
            ejecución de Estudios Ambientales  y de Propuestas de Soluciones para el Tratamiento y Disposición 
            Final de Desechos Peligrosos; además se encuentra acreditada ante la Defensa Civil para la 
            realización de Estudios de Peligro, Vulnerabilidad y Riesgos.
          </p>
          <h4>Servicios que ofrece:</h4> 
          <ul> 
            <li>
              Elaboración de Solicitud de Licencia Ambiental (ESLA).
            </li> 
            <li>
              Estudios de Impacto Ambiental (EsIA)
            </li> 
            <li>
              Estudios de Línea Base (ELBA)
            </li> 
            <li>
              Diagnósticos Ambientales(EDA).
            </li> 
            <li>
              Estudios de Recuperación y/o Rehabilitación Ambiental(ERA).
            </li>
            <li>
              Estudios de Peligro ,Vulnerabilidad y Riesgos(PVR).
            </li> 
            <li>
              Plan de Manejo Integral de Desechos (PMPQDP)
            </li>
            <li>
              Estudio Geo ambiental Integral (EGAI).
            </li> 
            <li>
              Estudio de Diseño de Senderos Interpretativos
            </li>
                        
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

  

