<div class="row justify-content-center py-3">
    <h2>Contactenos</h2>
</div>

<div class="container"> 
    <div class="jumbotron"> 
        <h1>Directorio Telefonico UIC Pinar del Rio</h1> 

        <div class="panel panel-default"> 
            <div class="panel-heading"> 
                <h3 class="panel-title">Telefonos fijos</h3> 
            </div> 
            <div class="panel-body"> Telefonos por Departamentos </div> 
            <table class="table"> 
                <th>Departamentos</th>
                <th>Telefonos </th> 
                <tr>
                    <td>Direccion</td>
                    <td>(48)755623</td>
                </tr> 
                <tr>
                    <td>Marketing y Contratacion</td>
                    <td>(48)753227</td>
                </tr>
                <tr>
                    <td>Informatica</td>
                    <td>(48)754127</td>
                </tr>
                <tr>
                    <td>Aseguramiento Interno</td>
                    <td>(48)754128</td>
                </tr>
                <tr>
                    <td>Laboratorio</td>
                    <td>(48)754129</td>
                </tr>

            </table> 
        </div>



        <div class="panel panel-default"> 
            <div class="panel-heading"> 
                <h3 class="panel-title">(48)75-53-77 y (48)75-41-12 Pizarra</h3> 
            </div> 
            <div class="panel-body"> Extensiones por Departamentos </div> 
            <table class="table"> 
                <th>Departamentos</th>
                <th>Extensiones </th> 
                <tr>
                    <td>Secretaria del Director</td>
                    <td>102</td>
                </tr> 
                <tr>
                    <td>Direccion</td>
                    <td>103</td>
                </tr> 
                <tr>
                    <td>Energetico</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Jefe de Capital Humano</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Capital Humano</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Jefe de Marketing y Contratacion</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Marketing y Contratacion</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Juridico</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Inteligencia Empresarial</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Informatico</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>Patologia</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Jefe de Contabilidad y Finanzas</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Contabilidad y Finanzas</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Calidad</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Esp. Principal Ingenieria Geologica</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Ingenieria Geologica</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Topografia</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Medio Ambiente</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Salon de Reuniones</td>
                    <td>103</td>
                </tr>
                <tr>
                    <td>Archivo Tecnico</td>
                    <td>103</td>
                </tr>

            </table> 
        </div>
    </div> 
    
    
</div>


