<div>
    <div class="row extract caja">
        <div class="col-md-12">
            <div class="text-center mb-2">
                <span class="mr-2"><a href="https://www.facebook.com/uic.pinardelrio"><img src="../../../assets/img/fb.png" alt="Facebook" width="30"></a></span>
                <span class="mr-2"><a href="http://www.twitter.com/@UicRio"><img src="../../../assets/img/twitter.png" alt="Twitter" width="30"></a></span>
                <span ><a href="http://www.youtube.com"><img src="../../../assets/img/youtube.png" alt="Youtube" width="30"></a></span>
            </div>
            <h2 class="text-center text-uppercase">UIC Pinar del Río</h2>
            <img class="float-left rounded border border-success w-50 mr-3" src="../../../assets/img/uic.jpg" alt="UIC Pinar del Rio">
            <p class="text-justify">
                Con un aval de más de 50 años laborando en nuestro país y en otras regiones del mundo, 
                la Empresa Nacional de Investigaciones Aplicadas, INVESCONS, ofrece servicios de 
                Investigaciones de Ingeniería para la Construcción, los que se sustentan en el alto nivel 
                de profesionalidad del capital humano de la empresa, integrado por especialistas capaces de 
                realizar trabajos con cualquier grado de complejidad.
                La Empresa Nacional de Investigaciones Aplicadas, INVESCONS, está asociada a la Cámara de 
                Comercio de Cuba y se ubica en calle 100 # 9107, entre Vento y 10, Altahabana, Municipio 
                Boyeros, La Habana, Cuba.
            </p>
        </div>
    </div>

    <!-- Nosotros -->
    <div class="row bg-light caja">
        <div class="col-md-12">
            <h2 class="text-center text-uppercase">Nosotros</h2>
            <img class="float-right ml-3 rounded w-25" src="../../../assets/img/400px-Certificado_Calidad_ENIA.png" alt="Colectivo de Trabajadores">
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatibus optio quae, odio fugit velit nisi inventore veniam, doloremque possimus numquam autem! Ducimus itaque soluta vel, fugit debitis non earum?</p>
        </div>
    </div>

    <!-- Servicios -->
    <div class="row servicios caja justify-content-center justify-content-around">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center text-uppercase">Servicios</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatibus optio quae, 
                    odio fugit velit nisi inventore veniam, doloremque possimus numquam autem! Ducimus itaque 
                    soluta vel, fugit debitis non earum?
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="../../../assets/img/investigaciones.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Investigaciones</h4>
                        <p class="card-text">
                            Servicio complementado con Perforación e Inyección y un 
                            Laboratorio para el ensayo de suelos y materiales.
                        </p>
                        <a href="#" class="btn btn-primary">Saber más...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="../../../assets/img/topografia.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Topografía</h4>
                        <p class="card-text">
                            Contamos con varias comisiones de topografía compuestas por 
                            especialistas y técnicos para brindar servicios de Replanteo...
                        </p>
                        <a href="#" class="btn btn-primary">Saber más...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="../../../assets/img/Patologia.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Diagnóstico y Patología</h4>
                        <p class="card-text">Con profesionales de alta experiencia y equipos
                            de última generación se realizan ensayos destructivos y no...</p>
                        <a href="#" class="btn btn-primary">Saber más...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Trabajos -->
    <div class="row bg-light caja">
        <div class="col-md-12">
            <h2 class="text-center text-uppercase">Trabajos</h2>
            <p class="text-center">
                La experiencia y buen hacer de la UIC Pinar del Rio le ha llevado a realizar trabajos de
                vital importancia en diferentes programas socio-economicos, tanto con 
                empresas locales, nacionales así como filiales de entes internacionales que apuestan por la 
                inversion en nuestro pais.
            </p>
            <div class="container d-flex">
                <div class="jumbotron w-50 mr-2"> 
                    <img class="" src="../../../assets/img/mariel3.png" alt="Imagen del mariel" width="100%"> 
                    <p>Estudios de xxxxxxxx en la Zona Especial de Desarrollo Mariel.</p> 
                    <p class="text-right"><a class="btn btn-primary btn-lg" role="button"> Ver</a> </p> 
                </div>
                <div class="jumbotron w-50"> 
                    <img class="" src="../../../assets/img/golf2.jpg" alt="Estudio Campos Golf" width="100%"> 
                    <p>Estudio de Impacto Ambintal Campos de Golf Guanacabibes.</p> 
                    <p class="text-right"><a class="btn btn-primary btn-lg" role="button"> Ver</a> </p> 
                </div>
            </div>
        </div>
    </div>

    <!-- Clientes -->
    <div class="clientes caja justify-content-center">   
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="text-center text-uppercase">Clientes</h2>
                <p class="text-center">
                    Contamos con una amplia cartera de clientes, basadas en la profesionalidad, 
                    y calidad de las soluciones dadas a los distintos problemas y necesidades que nos han 
                    planteado. Entre los Clientes mas representativos tenemos:
                </p>
            </div>
        </div>     
        <div class="row justify-content-center justify-content-around">
            <div class="col-md-2 d-flex justify-content-center">
                <img class="" src="../../../assets/img/zdmariel.jpg" alt="Zona Especial de Desarrollo Mariel" >
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <img src="../../../assets/img/inrh.jpg" alt="Instituto Nacional de Recursos Hidraulicos" style="width:100px;">
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <img src="../../../assets/img/brascuba.jpg" alt="BrasCuba" style="width:100px;">
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <img src="../../../assets/img/biocubafarma.jpg" alt="BioCubafarma" style="width:100px;">
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <img src="../../../assets/img/unilever.jpg" alt="Unilever" style="width:100px;">
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <img src="../../../assets/img/salud.png" alt="Salud Publica" style="width:100px;">
            </div>
        </div>
        
    </div>
</div>
