<div class="container">
    <div class="row justify-content-center py-3">
        <h2>Actualidad en la UIC</h2>
    </div>
    <div class="row">
        <div class="col-md-9">
            <app-articulo [articulos]="articulos"></app-articulo>
        </div>
        <div class="col-md-3">
            <div>
                <h3>Puedes hacer esto</h3>
                <a class="btn btn-danger" href="">Crear Articulo</a>
            </div>
            <div>
                <h3>Ultimas Entradas</h3>
                <ul>
                    <li>Entrada 1</li>
                    <li>Entrada 2</li>
                    <li>Entrada 3</li>
                    <li>Entrada 4</li>
                    <li>Entrada 5</li>
                </ul>
            </div>
        </div>
    </div>
        
</div>
