<div class="footer btn-success mt-5 px-5 pt-5">
    <div class="row">
        <div class="col-md-4">
            
            <h3><img src="../../../assets/img/Logo_ENIA.jpg" alt="UIC Pinar del Rio" style="width:35px;">UIC Pinar del Río</h3>
            <p class="text-justify">
                Con una experiencia de más de 50 años dentro y fuera del país, la Unidad de Investigaciones 
                para la Construcción de Pinar del Río brinda servicios de Investigaciones de Ingeniería para 
                la Construcción, sustentados en el alto nivel de profesionalidad de sus trabajadores.
            </p>
            <span ><strong>Siguenos en...</strong></span><br>
            <span class="mr-2"><a href="https://www.facebook.com/uic.pinardelrio"><img src="../../../assets/img/fb.png" alt="Facebook" width="30"></a></span>
            <span class="mr-2"><a href="http://www.twitter.com"><img src="../../../assets/img/twitter.png" alt="Twitter" width="30"></a></span>
            <span ><a href="http://www.youtube.com"><img src="../../../assets/img/youtube.png" alt="Youtube" width="30"></a></span>
        </div>
        <div class="col-md-2">
            <h3>Enlaces</h3>
            <ul>
                <li><a class="text-light" target="_blank" href="https://correo.eniapr.co.cu">Correo</a></li>
                <li><a class="text-white" target="_blank" href="http://gestorproc.eniapr.co.cu">Gestor-Proc</a></li>
                <li><a class="text-white" target="_blank" href="http://ftp.eniapr.co.cu">FTP</a></li>
                <li><a class="text-white" target="_blank" routerLink="/login">Publicar Noticias</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>Sitios</h3>
            <ul>
                <li><a class="text-white" target="_blank" href="http://www.google.com.cu">Google</a></li>
                <li><a class="text-white" target="_blank" href="http://www.trabajadores.cu">Trabajadores</a></li>
                <li><a class="text-white" target="_blank" href="http://www.cubadebate.cu">Cubadebate</a></li>
                <li><a class="text-white" target="_blank" href="http://www.radioguama.icrt.cu">Radio Guama</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Contactenos</h3>
            <span><strong>Dirección</strong></span>
            <p>Calle Rafael Morales #242 Sur Altos. CP:20100</p>
            <span><strong>Teléfonos</strong></span> 
            <p>48755623, 48755377 y 48754112</p>
            <span><strong>EMail</strong></span>
            <p>director@eniapr.co.cu</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">@UIC Pinar del Río 2020, Departamento de Informática.</p>
        </div>
    </div>
</div>


